@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

body {
	background: linear-gradient(to right, rgb(127, 255, 244), rgb(26, 45, 95));
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Open Sans", sans-serif;
}
.encontrado {
	background-color: #ff0;
}

.bg-1 {
	height: 5%;

	padding-top: 2px;
}

.t-stroke {
	color: transparent;

	-moz-text-stroke-width: 2px;

	-webkit-text-stroke-width: 2px;

	-moz-text-stroke-color: #000000;

	-webkit-text-stroke-color: #000000;
	font-size: 50px;
}

.t-shadow {
	text-shadow: 2px 2px #eef3f1;
	-moz-text-stroke-color: #000000;
}

.btn-material {
	text-align: center;
	padding: 10px 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 12pt;
}

#texto,
input {
	width: 80%;
	font-size: 12pt;
}

p {
	font-size: 16pt;
}

#resultado,
#resultado2 {
	margin-top: 20px;
	font-size: 16pt;
}

@media screen and (max-width: 480px) {
	.bg-1 {
		height: auto;
	}
	.t-stroke {
		font-size: 30pt;
	}

	#texto,
	input {
		margin-top: 10px;
		width: 80%;
		font-size: 14pt;
	}

	p {
		font-size: 16pt;
	}

	button {
		font-size: 14pt;
		width: 80%;
		padding: 10px 0;
	}

	#resultado,
	#resultado2 {
		margin-top: 20px;
		font-size: 16pt;
	}
}

@media (min-width: 481px) and (max-width: 1024px) {
	.bg-1 {
		height: auto;
	}
	.t-stroke {
		font-size: 50pt;
		-moz-text-stroke-width: 4px;

		-webkit-text-stroke-width: 4px;
	}

	#texto,
	input {
		margin-top: 10px;
		width: 80%;
		font-size: 20pt;
		padding: 9px;
	}

	p {
		font-size: 30pt;
	}

	.btn-material {
		font-size: 20pt;
		padding: 10px 20px;
	}

	button {
		width: 40%;
	}

	#h1 {
		font-size: 40pt;
	}

	#resultado,
	#resultado2 {
		margin-top: 40px;
		font-size: 28pt;
	}
}
